@import "tailwindcss";

:root {
  --color-primary: #0d0525;
  --color-secondary: #dcd7d5;
  --color-third: #8a6cc1 ;
  --color-btn: #BA96C1;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-third: var(--color-third);
  --color-btn: var(--color-btn);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-quantico: var(--font-quantico);
  --font-suse : var(--font-suse)
}


body {
  background-color: var(--color-primary);
  font-family: var(--font-suse);
}